body{
  transition: 0.9s all;
  background-image: url("https://i.imgur.com/wTo9Hy2.jpg");
  background-size: 125%;
  margin-top: -155px;
}

body.gameOver {
  background-image: url("https://i.imgur.com/ffe5G0j.jpg?2");
  background-position: center;
}

#photo{
   background-image: 100px;
}

#game{
  width: 450px;
  height: 455px;
  background: green;
  background-image: url("https://i.imgur.com/8H2ehnl.jpg?2");
  border-left: 0px solid red;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.row{
  width: 100%;
  height: 150px;
  margin: auto;
  padding: ;
  color: black;
  font-size: 140px;
}

.col{
  border: 3px solid #9E9E99;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: 'Dokdo', cursive;
  border-radius: 0%;
  width: 32%;
  height: 145.5px;
  text-align: center;
  float: left;
  cursor: pointer;  // when mouse go to box change for pointer//
}

#result{
  font-size: 80px;
  text-align: center;
  word-spacing: 12px;
  font-family: 'Dokdo', cursive;
  margin-top: 11px;
  color:#FFEB3B; ;  text-shadow: black 0.1em 0.1em 0.2em;*/
}

.reset1{
  font-size: 45px;
  display: block;
  position: absolute;
  font-family: 'Dokdo', cursive;
  right: -155px;
  top: 0px;
  border-radius: 0%;
  background-color: #FFEB3B;
  text-shadow: black 0.1em 0.1em 15em;
}

@media (max-width: 800px) {
  .reset1 {
    top: initial;
    right: 50%;
    bottom: -64px;
    margin-right: -70px;
  }
}

.title{
  color: #2bffeb; text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 10vw;
  margin-top: 200px;
  margin-bottom: -56px;
  text-align: center;
  font-family: 'Dokdo', cursive;
  word-spacing: 12px;
}
